body {
    font-family: Arial, sans-serif;
    background: #0b1220;
    color: white;
}

.container {
    width: 600px;
    margin: 80px auto;
    text-align: center;
    background: #111827;
    padding: 30px;
    border-radius: 12px;
}

button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    color: white;
    cursor: pointer;
}

input {
    margin: 20px;
}